.tabla {
    width: 100%;
    border-collapse: collapse;

    &__title {
        border: 1px solid #e0e8f9;
        padding: 20px;
        background-color: #e0e8f9;
    }

    &__text {
        border: 1px solid #e0e8f9;
        padding: 20px;
    }
}